@model Auth.Models.GestionOC

@{
    ViewBag.Title = "Crear Nuevo";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Crear Gestión Orden de Compra</legend>

        <div style="width:30%; float:left;">
            <div class="editor-label">
                @Html.LabelFor(model => model.OC)
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.OC, ViewBag.ListaOCs as SelectList, "Seleccione OC", new { @style = "width:100px", required = "required" })
                    @Html.ValidationMessageFor(model => model.OC)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.fecha_consulta_comparendos)
                <div class="editor-field">
                    @Html.EditorFor(model => model.fecha_consulta_comparendos)
                    @Html.ValidationMessageFor(model => model.fecha_consulta_comparendos)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.fecha_carta_supervisor)
                <div class="editor-field">
                    @Html.EditorFor(model => model.fecha_carta_supervisor)
                    @Html.ValidationMessageFor(model => model.fecha_carta_supervisor)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.fecha_estampilla)
                <div class="editor-field">
                    @Html.EditorFor(model => model.fecha_estampilla)
                    @Html.ValidationMessageFor(model => model.fecha_estampilla)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.fecha_cierre_factura)
                <div class="editor-field">
                    @Html.EditorFor(model => model.fecha_cierre_factura)
                    @Html.ValidationMessageFor(model => model.fecha_cierre_factura)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.fecha_envio_carrocera)
                <div class="editor-field">
                    @Html.EditorFor(model => model.fecha_envio_carrocera)
                    @Html.ValidationMessageFor(model => model.fecha_envio_carrocera)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.fecha_recepcion_carrocera)
                <div class="editor-field">
                    @Html.EditorFor(model => model.fecha_recepcion_carrocera)
                    @Html.ValidationMessageFor(model => model.fecha_recepcion_carrocera)
                </div>
            </div>
        </div>

        <div style="width:70%; float:left;">
            <div class="editor-label">
                @Html.LabelFor(model => model.envio_carta_comparendos)
                <div class="editor-field">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.envio_carta_comparendos)
                        @Html.ValidationMessageFor(model => model.envio_carta_comparendos)
                    </div>
                </div>
            </div>

            @*<div class="editor-label">
                @Html.LabelFor(model => model.se_legalizo)
                <div class="editor-field">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.se_legalizo)
                        @Html.ValidationMessageFor(model => model.se_legalizo)
                    </div>
                </div>
            </div>*@

            <div class="editor-label">
                @Html.LabelFor(model => model.estampilla_pagar)
                <div class="editor-field">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.estampilla_pagar)
                        @Html.ValidationMessageFor(model => model.estampilla_pagar)
                    </div>
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.estampilla_dcto)
                <div class="editor-field">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.estampilla_dcto)
                        @Html.ValidationMessageFor(model => model.estampilla_dcto)
                    </div>
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.valor_estampilla)
                <div class="editor-field">
                    @Html.EditorFor(model => model.valor_estampilla)
                    @Html.ValidationMessageFor(model => model.valor_estampilla)
                </div>
            </div>

            @*<div class="editor-label">
                @Html.LabelFor(model => model.entidad_matricula)
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.entidad_matricula, ViewBag.ListaEntidades as SelectList, "Seleccione Entidad")
                    @Html.ValidationMessageFor(model => model.entidad_matricula)
                </div>
            </div>*@

            <div class="editor-label">
                @Html.LabelFor(model => model.notas)
            </div>
            <div class="editor-field" style="width: 100%; height: 75%;">
                @Html.EditorFor(model => model.notas)
                @Html.ValidationMessageFor(model => model.notas)
            </div>

        </div>

        <p>
            <div class="editor-field">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </p>

    </fieldset>

    <div>
        <input type="submit" class="btn btn-default" value="Ir al Listado" />
    </div>
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
}

