@model Auth.Models.GestionOC

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GestionOC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_consulta_comparendos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_consulta_comparendos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.envio_carta_comparendos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.envio_carta_comparendos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_carta_supervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_carta_supervisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.se_legalizo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.se_legalizo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estampilla_pagar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estampilla_pagar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estampilla_dcto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estampilla_dcto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_estampilla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_estampilla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_estampilla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_estampilla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_cierre_factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_cierre_factura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entidad_matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entidad_matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notas)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
