@model Auth.Models.ReferenciasOC

@{
    ViewBag.Title = "Crear Nuevo";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Crear Concepto Orden de Compra</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.codigo)
            <div class="editor-field">
                @Html.EditorFor(model => model.codigo)
                @Html.ValidationMessageFor(model => model.codigo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.descripcion)
                <div class="editor-field">
                    @Html.EditorFor(model => model.descripcion)
                    @Html.ValidationMessageFor(model => model.descripcion)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.activo)
                <div class="editor-field">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.activo)
                        @Html.ValidationMessageFor(model => model.activo)
                    </div>
                </div>
            </div>

            <p>
                <div class="editor-field">
                    <input type="submit" value="Crear" class="btn btn-success" />
                </div>
            </p>
    </fieldset>

    <div>
        <input type="submit" class="btn btn-default" value="Ir al Listado" />
    </div>
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
}

