@model Auth.Models.CarteraOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CarteraOC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_limite_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_limite_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.se_reporta_cce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.se_reporta_cce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_reporte_cce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_reporte_cce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reporte_cce_am)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reporte_cce_am)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_envio_carta_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_envio_carta_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_envio_carta_pago_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_envio_carta_pago_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_radicacion_cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_radicacion_cuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_probable_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_probable_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
