@model Auth.Models.Evento

@{
    ViewBag.Title = "Editar Evento";
}

@using (Html.BeginForm("Edit", "Eventos", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Editar Evento</legend>

        <div style="width:20%; float:left;">
            <div class="editor-label">
                @Html.LabelFor(model => model.Numero)
                <div class="editor-field">
                    @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @readonly = "readonly", style = "width:60px" } })
                    @Html.ValidationMessageFor(model => model.Numero)
                </div>
            </div>
        </div>

        <div style="width:20%; float:left;">
            <div class="editor-label">
                @Html.LabelFor(model => model.OC)
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.OC, ViewBag.ListaOCs as SelectList, "Seleccione OC")
                    @Html.ValidationMessageFor(model => model.OC)
                </div>
            </div>
        </div>

        <div style="width:40%; float:left;">
            <div class="editor-label">
                @Html.LabelFor(model => model.Nit)
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.Nit, ViewBag.ListaTerceros as SelectList, "Seleccione Cliente", new { required = "required" })
                    @Html.ValidationMessageFor(model => model.Nit)
                </div>
            </div>
        </div>

        <div style="width:20%; float:left;">
            <div class="editor-label">
                @Html.LabelFor(model => model.FechaSolicitud)
                <div class="editor-field">
                    @Html.EditorFor(model => model.FechaSolicitud, new { htmlAttributes = new { required = "required" } })
                    @Html.ValidationMessageFor(model => model.FechaSolicitud)
                </div>
            </div>
        </div>

        <div style="width:100%; float:left;">

            <div style="width:20%; float:left;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Ciudad)
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.Ciudad, ViewBag.ListaCiudades as SelectList, "Seleccione Ciudad", new { style = "width:200px", required = "required" })
                        @Html.ValidationMessageFor(model => model.Ciudad)
                    </div>
                </div>
            </div>

            <div style="width:35%; float:left;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Comprador)
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Comprador, new { htmlAttributes = new { @style = "text-transform:uppercase;width:350px", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Comprador)
                    </div>
                </div>
            </div>

            <div style="width:20%; float:left;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Telefono)
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { required = "required" } })
                        @Html.ValidationMessageFor(model => model.Telefono)
                    </div>
                </div>
            </div>

            <div style="width:25%; float:left;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "email", @style = "text-transform:lowercase;width:280px", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
            </div>
        </div>
        <div style="width:100%; float:left;">
            <hr />
        </div>
        <div style="width:45%; float:left;">
            <div class="editor-label">
                @Html.LabelFor(model => model.IdSegmento)
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.IdSegmento, ViewBag.ListaSegmentos as SelectList, "Seleccione Segmento", new { style = "width:250px", required = "required" })
                    @Html.ValidationMessageFor(model => model.IdSegmento)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IdDetalle)
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.IdDetalle, ViewBag.ListaDetalles as SelectList, "Seleccione Detalle", new { style = "width:400px", required = "required" })
                    @Html.ValidationMessageFor(model => model.IdDetalle)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IdAdecuacion)
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.IdAdecuacion, ViewBag.ListaAdecuaciones as SelectList, "Seleccione Adecuación", new { style = "width:400px" })
                    @Html.ValidationMessageFor(model => model.IdAdecuacion)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.IntervaloPrecio)
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.IntervaloPrecio, ViewBag.ListaIntervalos as SelectList, "Seleccione Intervalo", new { style = "width:200px" })
                    @Html.ValidationMessageFor(model => model.IntervaloPrecio)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Transmision)
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.Transmision, ViewBag.ListaTransmision as SelectList, "Seleccione Transmisión")
                    @Html.ValidationMessageFor(model => model.Transmision)
                </div>
            </div>

            <div style="width:90%; float:left;">
                <div style="width:20%; float:left;">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Unidades)
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Unidades, new { htmlAttributes = new { @style = "width:50px" } })
                            @Html.ValidationMessageFor(model => model.Unidades)
                        </div>
                    </div>
                </div>

                <div style="width:50%; float:left;">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Modelo)
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.Modelo, ViewBag.ListaModelos as SelectList, "Seleccione Modelo", new { style = "width:300px" })
                            @Html.ValidationMessageFor(model => model.Modelo)
                        </div>
                    </div>
                </div>
            </div>

            <div style="width:50%; float:left;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.MttoPreventivo)
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.MttoPreventivo, ViewBag.ListaMttos as SelectList, "Seleccione Mantenimiento")
                        @Html.ValidationMessageFor(model => model.MttoPreventivo)
                    </div>
                </div>
            </div>
        </div>

        <div style="width:55%; float:left;">
            <div class="editor-label">
                @Html.LabelFor(model => model.ReqMatricula)
                <div class="editor-field">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ReqMatricula)
                        @Html.ValidationMessageFor(model => model.ReqMatricula)
                    </div>
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ImpuestoRodamiento)
                <div class="editor-field">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ImpuestoRodamiento)
                        @Html.ValidationMessageFor(model => model.ImpuestoRodamiento)
                    </div>
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.GravamenesAdicionales)
                <div class="editor-field">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.GravamenesAdicionales)
                        @Html.ValidationMessageFor(model => model.GravamenesAdicionales)
                    </div>
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Soat)
                <div class="editor-field">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Soat)
                        @Html.ValidationMessageFor(model => model.Soat)
                    </div>
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Vigencia)
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.Vigencia, ViewBag.ListaVigencias as SelectList, "Seleccione Vigencia")
                    @Html.ValidationMessageFor(model => model.Vigencia)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Total)
                <div class="editor-field">
                    @Html.EditorFor(model => model.Total, new { required = "required" })
                    @Html.ValidationMessageFor(model => model.Total)
                </div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Notas)
                <div class="editor-field">
                    @Html.EditorFor(model => model.Notas)
                    @Html.ValidationMessageFor(model => model.Notas)
                </div>
            </div>
        

            <div style="width:55%; float:left;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Adjudicado)
                    <div class="editor-field">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Adjudicado)
                            @Html.ValidationMessageFor(model => model.Adjudicado)
                        </div>
                    </div>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Perdido)
                    <div class="editor-field">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Perdido)
                            @Html.ValidationMessageFor(model => model.Perdido)
                        </div>
                    </div>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Cancelado)
                    <div class="editor-field">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Cancelado)
                            @Html.ValidationMessageFor(model => model.Cancelado)
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <p></p>
            <input type="submit" value="Guardar" class="btn btn-info" />
            <p></p>
    </fieldset>

    <div>
        <form method="post" action='@Url.Action("Index", "Eventos")' />
        <input type="submit" class="btn btn-default" value="Ir al Listado" />
    </div>
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $('.deleteItem').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Borrar archivo adjunto?')) {
                $.ajax({
                    url: '@Url.Action("DeleteFile")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function (data) {
                    if (data.Result == "OK") {
                        $ctrl.closest('li').remove();
                    }
                    else if (data.Result.Message) {
                        alert(data.Result.Message);
                    }
                }).fail(function () {
                    alert("Ha ocurrido un error");
                })

            }
        });    
    </script>
}
