@model IEnumerable<Auth.Models.Evento>

@{
    ViewBag.Title = "Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Evento</h3>

<div>
    @Html.ActionLink("Crear Nuevo", "Create", "Eventos", new { @class = "btn btn-info" })
</div>
<hr />
<br />

@using (Html.BeginForm())
{
    <p>
        Número Evento: @Html.TextBox("Busqueda")
        <input type="submit" value="Buscar" class="btn-default" />
    </p>
}

<br />
<table style="width:100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comprador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IdSegmento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDetalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdAdecuacion)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.IntervaloPrecio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transmision)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Unidades)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.MttoPreventivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReqMatricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImpuestoRodamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vigencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GravamenesAdicionales)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>*@
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Numero)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ciudad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comprador)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Telefono)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaSolicitud)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.IdSegmento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdDetalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdAdecuacion)
        </td>
        <td>
                @Html.DisplayFor(modelItem => item.IntervaloPrecio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmision)
            </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Unidades)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.MttoPreventivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReqMatricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImpuestoRodamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GravamenesAdicionales)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Total)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.Notas)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Adjudicado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perdido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cancelado)
        </td>
        *@    
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
        @*<a href="javascript:void(0);" data-id="@item.Id" class="deleteItem">Eliminar</a>*@
    </td>
</tr>
    }

</table>

@section Scripts {

    <script>
        $('.deleteItem').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Desea eliminar la Orden de Compra?')) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function (data) {
                    if (data.Result == "OK") {
                        $ctrl.closest('tr').remove();
                    }
                    else if (data.Result.Message) {
                        alert(data.Result.Message);
                    }
                }).fail(function () {
                    alert("Sucedió un error, intente nuevamente.");
                })
            }
        });
    </script>
}
