@model IEnumerable<Auth.Models.CiudadOCA>

@{
    ViewBag.Title = "Ciudades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Ciudades</h3>

@*<div>
    @Html.ActionLink("Crear Nuevo", "Create", "Proveedor", new { @class = "btn btn-info" })
</div>*@
<hr />
<table style="width:60%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        @*<th>Acción</th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>*@
        </tr>
    }

</table>
