@model IEnumerable<Auth.Models.ControlMatriculas>

@{
    ViewBag.Title = "Control Matriculas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Control Matriculas</h3>

<div>
    @Html.ActionLink("Crear Nuevo", "Create", "OrdenCompras", new { @class = "btn btn-info" })
</div>
<hr />
<br />

@using (Html.BeginForm())
{
    <p>
        Número OC: @Html.TextBox("Busqueda")
        <input type="submit" value="Buscar" class="btn-default" />
    </p>
}
<br />
<table style="width:100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nit)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.linea)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OC)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.fecha_llegada_improntas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_improntas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_factura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_factura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_manifiesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_manifiesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_pantallazo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_pantallazo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_declaracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_declaracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_fac_carroceria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_fac_carroceria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_homol_chasis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_homol_chasis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_homol_carr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_homol_carr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_contrato_mandato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_contrato_mandato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_formul_matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_formul_matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_resolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_resolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_llegada_acta_posesion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_radicado_acta_posesion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_orden_alistamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_alistamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_accesorios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_logos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_placas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_entrega_carpetas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_program_nineras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_reporte_entrega)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.fecha_matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.placa)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.notas)
        </th>*@
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nit)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.linea)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OC)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_improntas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_improntas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_factura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_factura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_manifiesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_manifiesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_pantallazo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_pantallazo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_declaracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_declaracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_fac_carroceria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_fac_carroceria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_homol_chasis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_homol_chasis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_homol_carr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_homol_carr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_contrato_mandato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_contrato_mandato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_formul_matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_formul_matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_rut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_rut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_resolucion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_resolucion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_llegada_acta_posesion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_radicado_acta_posesion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_orden_alistamiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_alistamiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_accesorios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_logos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_placas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_entrega_carpetas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_program_nineras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_reporte_entrega)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.fecha_matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placa)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.notas)
            </td>*@

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @*@Html.ActionLink("Detalles", "Details", new { id = item.Id }) |*@
                <a href="javascript:void(0);" data-id="@item.Id" class="deleteItem">Eliminar</a>
            </td>
        </tr>

    }

</table>

@section Scripts {

    <script>
        $('.deleteItem').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Desea eliminar el registro de Matricula?')) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function (data) {
                    if (data.Result == "OK") {
                        $ctrl.closest('tr').remove();
                    }
                    else if (data.Result.Message) {
                        alert(data.Result.Message);
                    }
                }).fail(function () {
                    alert("Sucedió un error, intente nuevamente.");
                })
            }
        });
    </script>
}
