@model Auth.Models.Detalle

@{
    ViewBag.Title = "Editar Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Editar Detalles</legend>
        @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.LabelFor(model => model.IdSegmento)
            <div class="editor-field">
                @Html.EditorFor(model => model.IdSegmento, new { htmlAttributes = new { @readonly = "readonly", style = "width:50px", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.IdSegmento)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DesDetalle)
            <div class="editor-field">
                @Html.EditorFor(model => model.DesDetalle, new { htmlAttributes = new { @style = "text-transform:uppercase;width:350px" } })
                @Html.ValidationMessageFor(model => model.DesDetalle)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activo)
            <div class="editor-field">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Activo)
                    @Html.ValidationMessageFor(model => model.Activo)
                </div>
            </div>
        </div>

        <p></p>
        <input type="submit" value="Guardar" class="btn btn-info" />
        <p></p>
    </fieldset>

    <div>
        <form method="post" action='@Url.Action("Index", "Segmento")' />
        <input type="submit" class="btn btn-default" value="Ir al Listado" />
    </div>
}


