@model IEnumerable<Auth.Models.Detalle>

@{
    ViewBag.Title = "Detalle Segmento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalle Segmento</h3>

<div>
    @Html.ActionLink("Crear Nuevo", "Create", "Proveedor", new { @class = "btn btn-info" })
</div>
<hr />
<br />
<table style="width:50%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdDetalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesDetalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdSegmento)
        </th>
        <th>Acción</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdDetalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesDetalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdSegmento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdDetalle })
            @*@Html.ActionLink("Details", "Details", new { id=item.IdDetalle }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdDetalle })
        </td>
    </tr>
    }

</table>
