@model Auth.Models.IntervaloPrecio

@{
    ViewBag.Title = "Crear Intervalo Precio";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Crear Intervalo de Precio</legend>        
        <div class="editor-label">
            @Html.LabelFor(model => model.CodIntervalo)
            <div class="editor-field">
                @Html.EditorFor(model => model.CodIntervalo, new { htmlAttributes = new { @readonly = "readonly", style = "width:50px", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.CodIntervalo)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DesIntervalo)
            <div class="editor-field">
                @Html.EditorFor(model => model.DesIntervalo, new { htmlAttributes = new { @style = "text-transform:uppercase;width:350px" } })
                @Html.ValidationMessageFor(model => model.DesIntervalo)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activo)
            <div class="editor-field">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Activo)
                    @Html.ValidationMessageFor(model => model.Activo)
                </div>
            </div>
        </div>

        <p>
            <div class="editor-field">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </p>
    </fieldset>

    <div>
        <input type="submit" class="btn btn-default" value="Ir al Listado" />
    </div>
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
}

