@model IEnumerable<Auth.Models.IntervaloPrecio>

@{
    ViewBag.Title = "Intervalo Precio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>Intervalo Precio</h3>

<div>
    @Html.ActionLink("Crear Nuevo", "Create", "IntervaloPrecio", new { @class = "btn btn-info" })
</div>
<hr />
<br />
<table style="width:50%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesIntervalo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>*@
        <th>Acción</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesIntervalo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>*@
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>
