@model Auth.Models.Cilindraje

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Cilindraje</h4>
    <hr />
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.IdSegmento)
        <div class="editor-field">
            @Html.DropDownList("IdSegmento", new SelectList(ViewBag.ListaSegmentos, "CodSegmento", "DesSegmento"), "Seleccione Segmento")
            @Html.ValidationMessageFor(model => model.IdSegmento)
        </div>
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.DesCilindraje)
        <div class="editor-field">
            @Html.EditorFor(model => model.DesCilindraje)
            @Html.ValidationMessageFor(model => model.DesCilindraje)
        </div>
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Activo)
        <div class="editor-field">
            <div class="checkbox">
                @Html.EditorFor(model => model.Activo)
                @Html.ValidationMessageFor(model => model.Activo)
            </div>
        </div>
    </div>

    <div class="editor-label">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
