@model IEnumerable<Auth.Models.Adecuacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DesAdecuacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDetalle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DesAdecuacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdDetalle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAdecuacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAdecuacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAdecuacion })
        </td>
    </tr>
}

</table>
