@model IEnumerable<Auth.Models.Adecuacion>

@{
    ViewBag.Title = "Adecuación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Adecuación</h3>

<div>
    @Html.ActionLink("Crear Nuevo", "Create", "Adecuacion", new { @class = "btn btn-info" })
</div>
<hr />
<br />
<table style="width:50%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdAdecuacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesAdecuacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDetalle)
        </th>
        <th>Acción</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdAdecuacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesAdecuacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdDetalle)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdAdecuacion })
            @*@Html.ActionLink("Details", "Details", new { id=item.IdAdecuacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAdecuacion })*@
        </td>
    </tr>
    }

</table>
